<div id="studentList" *ngIf="teachers.length > 0">
  <table style="background: -moz-mac-accentlightshadow">
    <tr>
      <th>Name</th>
      <th>Subject</th>
    </tr>
    <tr *ngFor="let teacher of teachers">
      <td>{{ teacher.name }}</td>
      <td>{{ teacher.subject }}</td>
    </tr>
  </table>
</div>

<div id="teacherFormDiv" >
  <h3>Add a new teacher</h3>
  <form id="teacherForm" #teacherForm="ngForm" (ngSubmit)="addTeacher(teacherForm)" >
    <label for="name">Teacher's name:</label>
    <input type="text" name="name" id="name" [(ngModel)]="name"/>
    <br/>
    <label for="subject">Subject:</label>
    <input type="text" name="subject" id="subject" [(ngModel)]="tSubject"/>
    <br/>
    <button type="submit">Add teacher</button>
  </form>
</div>
<br/><br/>
